.recipe-form {
    margin-top: 20px;
}

.submit-recipe {
    margin-left: 10px !important;
}

.recipe-input {
    margin-bottom: 10px !important;
}

.ingredient-chip {
    width: fit-content;
    min-width: 80px;
    max-width: 200px !important;
    margin-bottom: 3px !important;
    margin-right: 2px !important;
}

.ingredient-chip:last-of-type {
    margin-bottom: 10px !important;
}