.recipe-form {
    margin-top: 20px;
}

.submit-recipe {
    margin-left: 10px !important;
}

.input-div {
    margin-top: 10px !important;
}

.recipe-form_buttons {
    margin-top: 10px;
}

.recipe-image {
    margin-top: 10px;
    width: 230px;
    border-radius: 5px;
}

.ingredient-chip {
    width: fit-content;
    min-width: 80px;
    max-width: 200px !important;
    margin-bottom: 3px !important;
    margin-right: 2px !important;
}

.ingredient-chip:last-of-type {
    margin-bottom: 10px !important;
}

.inside-tooltip {
    width: 230px;
}