.card-component {
    border: 1px solid blue;
    margin: 10px 0px;
    border-radius: 4px;
}

.recipe-card_buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.view-recipe_button {
    margin-top: 10px !important;
}